body{
    background-color: dodgerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.common{
    padding: 5px;
    position: absolute;
    border-radius: 10px;
}

div{
    background-color: lightgray
}

.head{
    height:50px;
    top:5px;
    left: 5px;
    right: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: dodgerblue ;
}

.mainbody{
    top: 70px;
    left: 200px;
    right: 200px;
    bottom: 5px;
    padding: 50px;
    display: flex;
    justify-content: space-around; /* Adjust as needed, or use space-between */
    color: dodgerblue;
}

.left{
    top: 70px;
    left: 5px;
    width: 180px;
    bottom: 0;
   
}

.right{
    top: 70px;
    right: 5px;
    width: 180px;
    bottom: 5px;
    
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: upper-alpha;
    list-style-position: inside;
}

img{
    width: 180px;
    border: 2px;
    border: rgb(178, 25, 25);
}

.tableauPlaceholder{
    width: 100%;
    height: 500px;
    top: 450px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left : auto;
    margin-right: auto;
}

a:visited{
    color: inherit;
}

iframe{
    flex: 1; /* Takes up remaining space in the container */
    margin-right: 20px;
}